gen/
import/
.xmake/
.cache/
tags/
tags.*
tags
/bin/*
gen
import
/.idea/
/.infrabox/
/.makefile/*
/.vscode/
.xmake
main
itagent
itagentctl
**.a
**/manifest.yml
build/
**/*.out
**/*.db
**/*.bin
**/*.iml
scc
